fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pdf2docx
numpy
opencv-python-headless
docx2pdf
PyPDF2
pillow
pytesseract
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
pydantic-settings
pydantic[email]
python-pptx
pandas
openpyxl
google-generativeai==0.6.0
protobuf<5
faster-whisper>=1.0.0